@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
body,
html {
    font-family: Roboto, sans-serif;
    font-size: large;
    font-style: oblique;
    font-weight: 700;
    width: 100%;
    margin: 0 auto
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center
}

.submitBtn {
    width: 200px;
    background: #fff;
    padding: 15px;
    border: solid 1px dodgerblue;
    border-style: dashed;
    border-radius: 33px;
    color: dodgerblue;
    cursor: pointer;
    transition: all .38s ease-in-out;
}

.submitBtn:hover {
    background: dodgerblue;
    color: #fff;
}

.to-dos {
    border: 1px solid #000;
    border-style: dotted;
    background: coral;
    padding: 25px;
}

#error_message {
    border: 1px solid #000;
    display: none;
    margin-bottom: 20px;
    background: coral;
    padding: 0;
    text-align: center;
    font-size: 25px;
    transition: all .5s ease
}

#contain button {
    border: none;
    outline: none;
    background: #8e49e8;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.5;
    pointer-events: none;
}

#contain button.active {
    opacity: 1;
    pointer-events: auto;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
}

#toDoContainer li {
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.spanOne,
.spanTwo {
    width: 45px;
    text-align: center;
    border: solid 1px #8e49e8;
    border-radius: 3px;
    background: #e74c3c;
    color: rgb(255, 255, 255);
}

#toDoContainer li .mySpan {
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    right: -110px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#toDoContainer li:hover .mySpan {
    right: 0;
}

.to-dos .xanthophloea {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-top: 25px;
    padding: 0 0 0 25px;
    justify-content: space-between;
}

.xanthophloea button {
    border: none;
    outline: none;
    background: #8e49e8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 10px;
    opacity: 0.5;
    pointer-events: none;
}

.xanthophloea button.active {
    opacity: 1;
    pointer-events: auto;
}